.card {
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  border: 3px solid lightgreen;
  border-radius: 10px;
  padding-bottom: 15px;

  .flag {
    font-size: 40px;
    margin: 15px;
  }

  .button {
    background-color: lightgreen;
    padding: 2px 5px;
    margin-top: 15px;
    border-radius: 5px;
    cursor: pointer;
  }

  .button:hover {
    box-shadow: 3px 3px 5px gray;
  }
}
