.form {
  margin-left: 40px;
  display: flex;
  gap: 10px;
  margin: 20px 40px;
}

.titlesFilter {
  margin-bottom: 20px;
  margin-left: 40px;
}

.label {
  margin-left: 40px;
}

.input {
  padding-left: 3px;
}

.buttonSubmit {
  background-color: lightgreen;
  padding: 2px 7px;
  border-radius: 5px;
  cursor: pointer;
}

.buttonSubmit:hover {
  box-shadow: 3px 3px 5px gray;
}
