.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px;

  @media (min-width: 768px) {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 20px 40px;
  }
}

.titlesFilter {
  margin: 20px;
  font-size: 16px;
  @media (min-width: 768px) {
    margin-left: 40px;
    font-size: 24px;
  }
}

.label {
  font-size: 14px;
  @media (min-width: 768px) {
    font-size: 16px;
  }
}

.input {
  padding-left: 3px;
  width: 300px;
}

.buttonSubmit {
  width: 70px;
  background-color: lightgreen;
  padding: 2px 7px;
  border-radius: 5px;
  cursor: pointer;
}

.buttonSubmit:hover {
  box-shadow: 3px 3px 5px gray;
}
